<h1>Pages#game</h1>
<p>Find me in app/views/pages/game.html.erb</p>


<div class="container">
<%= react_component("HelloWorld", { greeting: "Hello from react-rails." }) %>
	<%= react_component('pauseMenu', name: 'play') %>

	

</div>