<h1>Developers</h1>
<br><br>
<p>The team that is developing an amazing game</p>
<br><br>

<div class="container">
<div class="row">

	<div class="col-md-3">
		<div class="thumbnail">
			<%= image_tag "david.JPG" %>
			<div class="caption">
				<h3>David Soong</h3>
				<ul>
					<li>Team Lead</li>
					<li>UI/UX</li>
					<li>Game Designer</li>
				</ul>
				<p><a class="btn btn-primary"href="">Info</a></p>
			</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="thumbnail">
			<%= image_tag "afroz.jpg"%>
			<div class="caption">
				<h3>Afroz Dar</h3>
				<ul>
					<li>Software Developer</li>
				</ul>
				<p><a class="btn btn-primary"href="">Info</a></p>
			</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="thumbnail">
			<%=image_tag "duron.JPG" %>
			<div class="caption">
				<h3>Duron Epps</h3>
				<ul>
					<li>Software Lead</li>
					<li>Web Engineer</li>
				</ul>				
				<p><a class="btn btn-primary"href="">Info</a></p>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="thumbnail">
			<%=image_tag "franco.jpg" %>
			<div class="caption">
				<h3>Franco</h3>
				<ul>
					<li>Software Developer</li>
				</ul>
				<p><a class="btn btn-primary"href="">Info</a></p>
			</div>
		</div>
	</div>
</div>
</div>