<h1>Pages#team</h1>
<p>Find me in app/views/pages/team.html.erb</p>


<div class="row">
	<div class="col-md-4">
		<div class="thumbnail">
			<%=image_tag "" %>
			<div class="caption">
				<h3>David Soong</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed quidem, esse, amet ipsum assumenda maiores nam optio id perferendis, consequuntur fugiat quibusdam temporibus natus animi ipsam soluta obcaecati aperiam dolorum!</p>
				<p><a class="btn btn-primary"href=""></a></p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="thumbnail">
			<%= image_tag "afroz.jpg" %>
			<div class="caption">
				<h3>Afroz Dar</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed quidem, esse, amet ipsum assumenda maiores nam optio id perferendis, consequuntur fugiat quibusdam temporibus natus animi ipsam soluta obcaecati aperiam dolorum!</p>
				<p><a class="btn btn-primary"href=""></a></p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="thumbnail">
			<%=image_tag "" %>
			<div class="caption">
				<h3>Duron Epps</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed quidem, esse, amet ipsum assumenda maiores nam optio id perferendis, consequuntur fugiat quibusdam temporibus natus animi ipsam soluta obcaecati aperiam dolorum!</p>
				<p><a class="btn btn-primary"href=""></a></p>
			</div>
		</div>
	</div>
</div>
