// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "bootstrap-sprockets";
@import "bootstrap";


.button{
    background:url(../Board/TempBG\(batabidd\).jpg);
}

#body-container {
    display: flex;
    width: 30vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.body-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.button {
    margin-top:10%;
    margin-bottom: 10%;
}
button {
    font-size: 1.3rem;
    font-family: 'Optimus Princeps';
    font-style: italic;
    color: white;
    height: 50px;
    background: url(water.jpg);
    width: 150px;
    margin-top: 5%;
    margin-bottom: 5%;
    /* margin-left: 5%;
    margin-right: 5%; */
    border-radius: 10%;
}



.hidden {
    display:none;
}