// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "bootstrap-sprockets";
@import "bootstrap";


 body {
  background-color: #501B1D;
}

.navbar{
	background-color:#DAA520;
}

.navbar-default .navbar-brand{
	color: #ffffff	;
}

.navbar-default .navbar-nav > li > a{
	color: white;
}
.navbar-dark .navbar-nav .nav-link{
	color: #ffffff;
}

.thumbnail{
	background-color: #D9B08C;
}
.game-container{
	background: url(gameBG.jpg);
	height: 550px;
}


#body-container {
    display: flex;
    width: 30vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 300px;
}
.body-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.menuContainer{
	margin-top: 150px;
}

#page_title{
	color: #ffffff;
}
p{
	color: #fff
}

.button {
    margin-top:2%;
    margin-bottom: 2%;
}
button {
    font-size: 1.3rem;
    font-family: 'Optimus Princeps';
    font-style: italic;
    color: white;
    height: 40px;
    background: url(water.jpg);
    width: 120px;
    margin-top: 5%;
    margin-bottom: 5%;
    /* margin-left: 5%;
    margin-right: 5%; */
    border-radius: 10%;
}



.hidden {
    display:none;
}

.upper{
	height: 300px;
}

.mid{
	height: 300px;
}

